@model IEnumerable<BalloonShop.Models.Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img src="@category.Image" alt="@category.Name" class="card-img-top" style="height: 270px; object-fit: cover;" />
                    <div class="card-body text-center d-flex flex-column">
                        <h5 class="card-title">@category.Name</h5>
                        <p class="card-text">@category.Description</p>
                        <div class="mt-auto">
                        <a href="@Url.Action("Details", "Categories", new { id = category.CategoryId })" class="btn btn-primary">перейти ⟶</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

        .card:hover {
            transform: translateY(-10px);
        }

    .card-body {
        background-color: #ff6337;
        color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .btn-primary {
        background-color: white;
        color: #ff6337;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        font-size: 1rem;
        font-weight: bold;
        transition: background-color 0.2s, color 0.2s;
    }

        .btn-primary:hover {
            background-color: #ff6337;
            color: white;
        }
</style>
